version: 2
updates:
  - package-ecosystem: "composer"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "07:00"
      timezone: "Europe/Amsterdam"
    open-pull-requests-limit: 10
    labels: ["dependencies", "composer"]
    rebase-strategy: "auto"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "07:10"
      timezone: "Europe/Amsterdam"
    open-pull-requests-limit: 10
    labels: ["dependencies", "github-actions"]
    rebase-strategy: "auto"

